ul{
    list-style-type: none;
    li{
        margin-right: 5px;
        a{
            width: 100px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #fff;
            background-color: #d49050;
            font-weight: bold;
        }
        &:hover{
            a{
                color: #d49050;
                background-color: #fff;
            }
        }
    }
}