@import './variables.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #c1cec3;
}

main{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 5fr;

  background-color: rgba(255,255,255,0.5);
  max-width: 1080px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.test{
  color: $col;
  background-color: $bgCol;
  width: 100px;
  height: 100px;
}
